<div class="hero page">
  <div class="about">
    <h1>Overview</h1>
    <p class="text-align-left">
        Overview
        The browser is a familiar model of application navigation:

        Enter a URL in the address bar and the browser navigates to a corresponding page.
        Click links on the page and the browser navigates to a new page.
        Click the browser's back and forward buttons and the browser navigates backward and forward through the history of pages you've seen.
    </p>
  </div>
</div>
