<nav>
  <a href="/" class="nav-logo">noobLabFeb</a>
  <div class="nav-links">
      <a [routerLink]="['/home']" class="nav-link">Home</a>
      <a [routerLink]="['/about']" class="nav-link" routerLinkActive="active">About</a>
      <a [routerLink]="['/user/login']" class="nav-link button button-orange" routerLinkActive="active">login</a>
      <a [routerLink]="['/user/register']" class="nav-link button button-orange" routerLinkActive="active">register</a>
  </div>
</nav>
<router-outlet></router-outlet>
