/* You can add global styles to this file, and also import other style files */

* {
  font-family: edmond-regular, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: edmond-bold, sans-serif;
  color: rgb(0, 198, 179);
}

h3,
h4,
h5 {
  font-family: edmond-medium, sans-serif;
  color: rgb(0, 198, 179);
}

p {
  font-family: edmond-medium, sans-serif;
  color: rgb(170, 170, 170);
}

p {
  font-family: edmond-regular, sans-serif;
  line-height: 1.6;
}

.button-orange {
  background: #ff906e;
  color: #fff;
}

.button {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-family: edmond-medium, sans-serif;
  transition: all 0.4s cubic-bezier(0.4, 2, 0.68, 1);
  border-radius: 4px;
  padding: 18px;
}

.button,
p {
  letter-spacing: -0.5px;
  font-size: 18px;
}

.bold {
  font-family: edmond-bold, sans-serif;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.p10 {
  padding: 10px;
}

.m20t {
  margin-top: 20px;
}

.m10t {
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  box-sizing: border-box;
  padding-left: 35px;
  color: #007282;
  background: #f8f5f0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #007282;
  opacity: 0.8;
  /* Firefox */
}

input[type="button"] {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.color-green {
  color: rgb(0, 198, 179);
}
/* layout */

.page {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
}

/* flex */

.flex {
  display: flex;
  align-items: center;
}

.flex.gap-10 > * {
  margin: 0 10px;
}
.flex.gap-10 > :first-child {
  margin-left: 0;
}
.flex.gap-10 > :last-child {
  margin-right: 0;
}

.flex-x {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-content {
  justify-content: center;
}

/* hero-page*/

/* nav */

nav {
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px 60px;
  -ms-flex-align: center;
  align-items: center;
  background: 0 0;
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav-logo {
  color: #fff;
  font-size: 2em;
}

.nav-links .nav-active,
nav .nav-logo {
  font-family: edmond-bold, sans-serif;
}

.nav-links .nav-link {
  padding: 0 16px;
  color: #fff;
  height: 50px;
  opacity: 0.6;
}

.nav-links .button {
  padding: 16px 24px;
  margin-left: 10px;
  font-size: 14px;
  opacity: 1;
}

/* hero */

.hero {
  background: url("./assets/bg-green.jpg") center center no-repeat;
  background-size: cover;
}

.hero p,
.oops p {
  font-size: 24px;
  color: #fff;
  width: 430px;
}

.hero h1,
.oops h1 {
  margin: 20px 0 10px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #007282;
  font-size: 38px;
  line-height: 45px;
}

.hero p,
.oops p {
  font-size: 18px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.hero .buttons,
.oops .buttons {
  margin-top: 30px;
  width: 410px;
}

.hero {
  text-align: center;
}

/* account-page*/

.accounts {
  overflow-y: scroll;
  background: url("./assets/wave-nav.png") top center no-repeat;
  -webkit-animation-name: wave-down;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: wave-down;
  animation-duration: 0.3s;
}

.accounts .card.card-hover:hover {
  transform: scale(1.1);
  margin: 50px 30px;
}

/* styg-page*/

.setting {
  overflow-y: scroll;
  background: url("./assets/wave-nav.png") top center no-repeat;
  -webkit-animation-name: wave-down;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: wave-down;
  animation-duration: 0.3s;
}

.setting .card {
  position: absolute;
  top: 30%;
  max-width: 800px;
  width: 600px;
}

.setting .nav-links {
  display: flex;
}

.setting .nav-links .nav-link {
  color: rgb(0, 198, 179);
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes wave-down {
  from {
    background-position-y: -100%;
  }
  to {
    background-position-y: 0%;
  }
}

/* Standard syntax */

@keyframes wave-down {
  from {
    background-position-y: -100%;
  }
  to {
    background-position-y: 0%;
  }
}

/* content */

.card {
  display: block;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  border-radius: 8px;
  margin: 30px;
}

.card {
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.2);
}

.card {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  /* cursor: pointer; */
  transition: 0.3s;
}

.card-title {
  width: 100%;
  height: 60px;
}

.card-green {
  background-color: rgb(0, 198, 179);
}
.card-green::before,
.card-green::after {
  display: none;
}

.card-green h1,
.card-green h2{
  color: white;
}


/* .card:hover{
  transform: scale(1.03);
} */

/* card-effect */

.card:before,
.card::after {
  content: "";
  border-top-left-radius: 6px;
  height: 20px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.card:before {
  background: rgba(255, 255, 255, 0.4);
  width: 90%;
  top: -10px;
}

.card:after {
  background: rgba(255, 255, 255, 0.1);
  width: 80%;
  top: -20px;
}

/* card */

/* detail card */

.detail.card {
  white-space: normal;
  cursor: auto;
  max-width: 600px;
  min-width: 500px;
  margin: 40px auto 0 auto;
}

.detail.card:hover {
  transform: none;
}

.back {
  display: inline-block;
  margin: -40px 0 0 -40px;
  padding: 20px 40px;
  transition: 0.3s;
}

.back:hover {
  opacity: 0.8;
}

/* create */

/* detail card */

.create.card {
  white-space: normal;
  cursor: auto;
  max-width: 600px;
  min-width: 500px;
  margin: 40px auto 0 auto;
}

.create.card:hover {
  transform: none;
}

/* list */

.list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  min-width: 300px;
  margin-bottom: 50vh;
}

/* popup */
.popup-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}
.popup-message .card {
  text-align: center;
  max-width: 90%;
  margin: 40px;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.popup-message .buttons {
  margin-top: 30px;
}
.popup-message .button {
  padding: 5px 25px;
}

/* 404 */

.notFound {
  background: url("./assets/bg-green.jpg");
  background-size: cover;
}

.notFound h1 {
  color: white;
  font-size: 64px;
}

/* login */

.login input[type="text"] {
  width: 260px;
  height: 45px;
}

/* register */
.register input[type="text"] {
  width: 260px;
  height: 45px;
}

/* loading */
.loading {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url('./assets/loading.gif') #101010 no-repeat;
  background-size: 150px auto;
  background-position: center;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}

.isloading{
  visibility: visible;
  opacity: .6;
}
