<div class="hero page">
  <div class="register">
    <div class="card">
      <h2>Register</h2>
      <div class="h100 flex flex-x p10">
        <input placeholder="Username" type="text" class="w100 m20t">
        <input placeholder="Email" type="text" class="w100 m20t">
        <input placeholder="Password" type="text" class="w100 m20t">
        <input placeholder="Password" type="text" class="w100 m20t">
        <input type="button" class="button button-orange w100 m20t" value="register">
      </div>
    </div>
  </div>
</div>
